@{
    ViewBag.Title = "Πληροφορίες";
}


<h1>@ViewBag.Title.</h1><p></p><p></p><br/>
<h3>@ViewBag.Message</h3>

<div class="k-floatwrap">
    <div style="float: left">
        <!-- Info area -->
        <article>
            <p></p>
            <p class="sansserif" style="font-weight:bold">
                Οι βασικές λειτουργίες της εφαρμογής Iris είναι οι εξής:
            </p>
            <p class="sansserif">
                1. Ηλεκτρονική διαχείριση αποφάσεων πρόσληψης εκπαιδευτικού προσωπικού.
            </p>
            <p class="sansserif">
                2. Δημιουργία ηλεκτρονικού μητρώου αναθέσεων εκπαιδευτικών.
            </p>
            <p class="sansserif">
                3. Δημιουργία ηλεκτρονικού μητρώου αποφάσεων.
            </p>
            <p class="sansserif">
                4. Αναλυτικά και συγκεντρωτικά στοιχεία αναθέσεων εκπαιδευτικών.
            </p>
            <p class="sansserif">
                5. Στατιστικά και οικονομικά στοιχεία αναθέσεων.
            </p>
            <p></p>
        </article>
        <!-- /Info area -->
    </div>
    @*<aside>
        <p>Σύνδεσμοι</p>
        <p></p>

        @(Html.Kendo().TreeView()
        .Name("LinksTreeView")
        .Items(items =>
        {
            items.Add()
                .Text("Αρχική")
                .Action("Index", "Home");
            items.Add()
                .Text("Σχετικά")
                .Action("About", "Home");
            items.Add()
                .Text("Επικοινωνία")
                .Action("Contact", "Home");
        })
        )
    </aside>*@

</div>
<p></p><p></p>

<div>
    <hr style="background-color:#808080">
    <table width:100%>
        <tr>
            <td width="10%" align="left"><img src="~/images/metro/dypa-logo.png" height="70" width="86" /></td>
            <td align="center">
                <font color="#494949" size="3" style="font-weight:600">Διευθύνσεις Επαγγελματικής Εκπαίδευσης και Μαθητείας, Επαγγελματικής Κατάρτισης</font>
            </td>
        </tr>
        <tr>
            <td width="10%" align="left"></td>
            <td align="center">
                <font color="#494949" size="2">Μελέτη-Ανάπτυξη: Δρ. Γεώργιος Κυριακάκης</font>
            </td>
        </tr>
    </table>
</div>
