
@{
    ViewBag.Title = "Αρχική διαχειριστή IEK";
    Layout = "~/Views/Shared/_Admin2Layout.cshtml";
}

<style>
    p.serif {
        font-family: "Times New Roman", Times, serif;
        font-size: medium;
    }

    p.sansserif {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: medium;
    }
</style>


<body>
    <div class="row" style="align-content:center;margin:20px 20px 20px 40px">

        @Html.Kendo().PanelBar().Name("infoPanel").Items(items =>
        {
            items.Add().Text("ΟΔΗΓΙΕΣ 1 (Ρυθμίσεις)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Οι περισσότερες επιλογές εδώ αφορούν ρυθμίσεις που είναι απαραίτητες για τη λειτουργία της εφαρμογής.
                    </font>
                </span>
                <br />
            <p />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Στοιχεία σχολείων:
                <ul>
                    <li style="margin-bottom:10px">
                        Με την επιλογή αυτή γίνεται η επικαιροποίηση των στοιχείων των σχολείων (διευθυντής, ταχ. διεύθυνση, τηλέφωνα, κ.λπ).
                    </li>
                    <li style="margin-bottom:10px">
                        Η εμφανιζόμενη σελίδα αποτελείται από το πλέγμα με τα σχολεία. Η καταχώρηση των στοιχείων κάθε σχολείου γίνεται με πάτημα
                        του κουμπιού "Καρτέλα" που υπάρχει σε κάθε γραμμή του πλέγματος σχολείων.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Κλάδοι-Ειδικότητες:
                <ul>
                    <li style="margin-bottom:10px">
                        Το πλέγμα της σελίδας αυτής περιέχει όλες τις ειδικότητες των εκπαιδευτικών με τους αντίστοιχους κλάδους (ΠΕ,ΤΕ,ΔΕ).
                    </li>
                    <li style="margin-bottom:10px">
                        Οι ειδικότητες που καταχωρούνται εδώ χρησιμοποιούνται στις αναθέσεις των εκπαιδευτικών.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Σχολικά έτη:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή καταχωρούνται τα διάφορα σχολικά έτη για τα οποία γίνονται προσλήψεις και έκδοση αποφάσεων.
                    </li>
                    <li style="margin-bottom:10px">
                        Χρησιμοποιούνται παντού στην εφαρμογή, γι' αυτό είναι σημαντικό η λίστα σχολικών ετών να είναι πάντα ενημερωμένη.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                Περιφερειακές Διευθύνσεις:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή είναι καταχωρημένες οι Περιφερειακές Διευθύνσεις του ΟΑΕΔ. Είναι χρήσιμο η λίστα να έχει συμπληρωμένα
                        όλα τα στοιχεία των Περιφερειακών, όπως ταχ. διεύθυνση, τηλέφωνα, e-mail.
                    </li>
                    <li style="margin-bottom:10px">
                        Χρησιμοποιούνται παντού στην εφαρμογή, γι' αυτό είναι σημαντικό η λίστα να είναι πάντα ενημερωμένη.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                Ωράρια κλάδων:
                <ul>
                    <li style="margin-bottom:10px">
                        Εδώ καταχωρούνται, για κάθε κλάδο, οι υποχρεωτικές ώρες/εβδ (πλήρες ωράριο) και οι βασικοί μισθοί για αναπληρωτές.
                    </li>
                    <li style="margin-bottom:10px">
                        Τα στοιχεία εδώ χρησιμοποιούνται για τον υπολογισμό του ενδεικτικού ωρομίσθιου ποσού για αναπληρωτές.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.6.png" style="width:42px;height:42px" />
                Ωρομίσθιες αμοιβές:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή καταχωρούνται οι ωρομίσθιες αμοιβές για διάφορους κλάδους ειδικοτήτων ωρομισθίων εκπαιδευτικών
                        καθώς και τα ενδεικτικά ωρομίσθια ποσά για τους αναπληρωτές.
                    </li>
                    <li style="margin-bottom:10px">
                        Τα δεδομένα αυτά χρησιμοποιούνται κυρίως στα στατιστικά στοιχεία για προσεγγιστικούς υπολογισμούς προϋπολογισμών.
                    </li>
                </ul>
            </p>
            <p /><p />
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 2 (Παράμετροι αποφάσεων)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Οι επιλογές εδώ αφορούν παραμετρικά στοιχεία που χρησιμοποιούνται στις αποφάσεις.
                    </font>
                </span>
                <br />
            <p />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Αποφάσεις ΠΥΣ, Υπουργού, Διοικητή:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή καταχωρούνται οι εγκριτικές αποφάσεις ΠΥΣ, οι αντίστοιχες υπουργικές για τις προσλήψεις ωρομισθίων, καθώς
                        και αυτές του Διοικητή για προσλήψεις αναπληρωτών εκπαιδευτικών.
                    </li>
                    <li style="margin-bottom:10px">
                        Τα στοιχεία αυτά πρέπει να επικαιροποιούνται για κάθε σχολικό έτος και μεταφέρονται αυτόματα στα δεδομένα αποφάσεων,
                        συγκεκριμένα στα "Έχοντας υπόψη".
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Αποφάσεις σύστασης Α' και Β' Επιτροπών:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή καταχωρούνται για κάθε Περιφερειακή και σχολικό έτος οι αποφάσεις της Διοίκησης για 
                        τη σύσταση Πρωτοβάθμιων και Δευτεροβάθμιων Επιτροπών αξιολόγησης των αιτήσεων των υποψηφίων ωρομισθίων εκπαιδευτικών.
                    </li>
                    <li style="margin-bottom:10px">
                        Τα δεομένα αυτά πρέπει να είναι πάντα ενημερωμένα διότι μεταφέρονατι αυτόματα στα "Έχοντας υπόψη" των αποφάσεων (Αρχικών).
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Αποφάσεις προκηρύξεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή καταχωρούνται οι αποφάσεις προκηρύξεων για την πρόσληψη ωρομισθίων και αναπληρωτών εκπαιδευτικών
                        στις ΕΠΑΣ και στα ΙΕΚ, για κάθε σχολικό έτος.
                    </li>
                    <li style="margin-bottom:10px">
                        ΤΑ δεδομένα αυτά χρησιμοποιούνται στις αποφάσεις γι' αυτό πρέπει πάντα να ενημερώνονται για κάθε σχολικό έτος.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
               Διοικητικά στελέχη αποφάσεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Η σελίδα αυτή αποτελείται από έξη πλέγματα. Στο άνω πλέγμα καταχωρούνται οι διαχειριστές των αποφάσεων μαζί με τα στοιχεία
                        που εμφανίζονται στις αποφάσεις. Στα άλλα πέντε πλέγματα καταχωρούνται, για κάθε σχολικό έτος, ο προΪστάμενος τμήματος,
                        ο διευθυντής, ο γενικός διευθυντής, ο Α' αντιπρόεδρος και ο διοικητής.
                    </li>
                    <li style="margin-bottom:10px">
                        Τα δεδομένα αυτά χρησιμοποιούνται στην περιοχή υπογραφών της κάθε απόφασης. Τα στοιχεία πρέπει να ενημερώνονται για κάθε σχολικό έτος
                        έστω και αν τα πρόσωπα είναι τα ίδια.
                    </li>
                </ul>
            </p>
            <p /><p />
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 3 (Αναθέσεις)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Καταχώρηση αναθέσεων εκπαιδευτικών (ωρομισθίων και αναπληρωτών)
                    </font>
                </span>
                <br />
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Τρόπος εργασίας:
                <ul>
                    <li style="margin-bottom:10px">
                        Ο τρόπος εργασίας που θα περιγράψουμε είναι ίδιος για όλες τις αναθέσεις. Κανονικά τα στοιχεία αυτά
                        καταχωρούνται από τα σχολεία, παρέχεται, όμως, η δυνατότητα καταχωρήσεων και από τους διαχειριστές.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Αναθέσεις αρχικές:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή υπάρχει, στο άνω μέρος, η γραμμή σχολικού έτους και απο κάτω το πλέγμα ,με τις αρχικές αναθέσεις.
                    </li>
                    <li style="margin-bottom:10px">
                        Στη γραμμή σχολικού έτους επιλέγουμε από το πτυσσόμενο πλαίσιο λίστας το σχολικό έτος για το οποίο θα καταχωρήσουμε αναθέσεις.
                        Εάν υπάρχουν ήδη αναθέσεις, αυτές εμφανίζονται τότε στο πλέγμα.
                    </li>
                    <li style="margin-bottom:10px">
                        Στο κάτω πλέγμα πατάμε "Νέα Εγγραφή". Εμφανίζεται τότε μια κενή γραμμή πάνω από τις τυχόν υπάρχουσες γραμμές του πλέγματος.
                    </li>
                    <li style="margin-bottom:10px">
                        Επαναλαμβάνουμε τα παραπάνω βήματα για κάθε άλλη ειδικότητα που υλοποιεί το σχολείο.
                    </li>
                    <li style="margin-bottom:10px">
                        Συμπληρώνουμε με τιμές όλες τις εμφανιζόμενες στήλες (ΑΦΜ, Επώνυμο, Όνομα, Πατρώνυμο, Ειδικότητα, Ώρες/εβδ).
                    </li>
                    <li style="margin-bottom:10px">
                        Τέλος πατάμε το κουμπί "Ενημέρωση", που έμφανίζεται δεξιά της γραμμής του πλέγματος, για αποθήκευση των καταχωρημένων στοιχείων.
                    </li>
                    <li style="margin-bottom:10px">
                        Επαναλαμβάνουμε τα παραπάνω βήματα και για τους υπόλοιπους εκπαιδευτικούς.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Επεξεργασία, διαγραφή ανάθεσης:
                <ul>
                    <li style="margin-bottom:10px">
                        Εάν διαπιστώσουμε ότι έχουμε κάνει κάποιο λάθος στα δεδομένα μιας γραμμής, πατάμε το κουμπί "Επεξεργασία" στην αντίστοιχη γραμμή
                        του πλέγματος. Μπορούμε τότε, να αλλάξουμε τα δεδομένα στις στήλες. Αφού γίνουν οι αλλαγές πατάμε "Ενημέρωση" για αποθήκευση.
                    </li>
                    <li style="margin-bottom:10px">
                        Για να διαγράψουμε μόνιμα μια ανάθεση, αρκεί να πατήσουμε το κουμπί "Διαγραφή" στην αντίστοιχη γραμμή του πλέγματος.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                Υπόλοιπες αναθέσεις (απευθείας, συμπληρωματικές, τροποποιητικές, ακυρωτικές):
                <ul>
                    <li style="margin-bottom:10px">
                        Εργαζόμαστε με τον ίδιο ακριβώς τρόπο όπως στις Αρχικές αναθέσεις. Η μόνη διαφορά στις τροποποιητικές κα ακυρωτικές είναι στις
                        ώρες, όπου υπάρχουν δύο πεδία που πρέπει να συμπληρωθούν, τα "Ώρες από" και "Ώρες σε".
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.5.png" style="width:42px;height:42px" />
                Μητρώα αναθέσεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Παρέχονται 4 είδη μητρώων αναθέσεων και ένα καθολικό μητρώο αναθέσεων. Σκοπός των μητρώων αυτών είναι
                        η αναζήτηση περιεχομένου με βάση ορισμένα κριτήρια.
                    </li>
                    <li style="margin-bottom:10px">
                        Τα μητρώα διακρίνονται σε δύο κατηγορίες: (α) Τα μητρώα προσλήψεων και (β) Τα μητρώα μεταβολών.<br />
                        Οι κατηγορίες αυτές αφορούν ωρομίσθιους και αναπληρωτές εκπαιδευτικούς γι' αυτό και υπάρχουν 4 είδη μητρώων.
                    </li>
                    <li style="margin-bottom:10px">
                        Το καθολικό μητρώο αποτελεί μια ενοποίηση όλων των παραπάνω μητρώων και με βάση αυτό υπολογίζονται τα διάφορα στατιστικά στοιχεία.
                        Επιπλέον, προφέρεται καλύτερα για εκτενείς αναζητήσεις δεδομένων που αφορούν τους εκπαιδευτικούς και τις αναθέσεις τους.
                    </li>
                </ul>
            </p>
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 4 (Αποφάσεις)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Από το μενού αυτό γίνεται η έκδοση αποφάσεων.
                    </font>
                </span>
                <br />
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                Κοινά στοιχεία αποφάσεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Υπάρχουν συνολικά εννέα είδη αποφάσεων για ωρομίσθιους εκπαιδευτικούς και πέντε είδη για αναπληρωτές.
                    </li>
                    <li style="margin-bottom:10px">
                        Κάθε απόφαση συνοδεύεται από ένα συνημμένο πίνακα αναθέσεων. Εξαίρεση αποτελούν οι Διορθωτικές αποφάσεις.<br />
                        Ωρομίσθιοι: Υπάρχουν 4 αποφάσεις πρόσληψης (αρχικές, απευθείας και δύο συμπληρωματικές), 4 αποφάσεις μεταβολών 
                        (δύο τροποποιητικές, μια ακυρωτική και μια ανάκλησης πρόσληψης) και μια διορθωτική.
                    </li>
                    <li style="margin-bottom:10px">
                        Από τις παραπάνω αποφάσεις, οι συμπληρωματικές ΑΚ (Ασθένειας-Κυήσεως), τροποποιητικές ΑΚ, διορθωτικές, ακυρωτικές
                        και ανάκλησης περιλαμβάνουν, εκτός των άλλων, σύνταξη ελεύθερου κειμένου.
                    </li>
                    <li style="margin-bottom:10px">
                        Η έκδοση μιας απόφασης περιλαμβάνει δύο λειτουργίες:<br />
                        1) Την καταχώρηση των βασικών στοιχείων (διαχειριστής, ημ/νία σύνταξης, σχολ. έτος, σχολείο, είδος εγγράφου).<br />
                        2) Την επισύναψη των αντίστοιχων αναθέσεων - με εξαίρεση τις διορθωτικές αποφάσεις.<br />
                    </li>
                    <li style="margin-bottom:10px">
                        Ποιές είναι οι "αντίστοιχες" αναθέσεις. Ως αντίστοιχες αναθέσεις θεωρούνται αυτές που έχουν ίδιο σχολικό έτος,
                        ίδιο σχολείο και ίδιο είδος με αυτά της απόφασης.
                    </li>
                    <li style="margin-bottom:10px">
                        Ένα σύνολο αναθέσεων που έχει επισυναφθεί σε μια απόφαση, δεν μπορεί να επισυναφθεί και σε άλλη.
                    </li>
                    <li style="margin-bottom:10px">
                        Η εκτύπωση των αποφάσεων γίνεται από την καρτέλα τους. Σε αυτή, τα περισσότερα πεδία είναι αυτόματα συμπληρωμένα
                        από τα στοιχεία που είναι ορισμένα στις παραμέτρους αποφάσεων. 
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Αποφάσεις χορήγησης:
                <ul>
                    <li style="margin-bottom:10px">
                        Όλες οι εργασίες είναι ίδιες με τα παραπάνω αναφερθέντα.
                    </li>
                    <li style="margin-bottom:10px">
                        Για επισύναψη αιτήσεων στέγασης επιλέγουμε από το πλαίσιο λίστας "Για επίδομα" την τιμή "Στέγασης".
                    </li>
                    <li style="margin-bottom:10px">
                        Αν θέλουμε να επισυνάψουμε και αιτήσεις σίτισης (που δεν είναι κατ' εξαίρεση), μετά την πρώτη επισύναψη επιλέγουμε στο πλαίσιο λίστας "Για επίδομα"
                        την τιμή "Σίτισης" οπότε επισυνάπτονται και οι αντίστοιχες αιτήσεις σίτισης.
                    </li>
                </ul>
            </p>
            <p />
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 5 (Στατιστικά)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:medium">
                        Αναλυτικά στοιχεία
                    </font>
                </span>
                <br />
            <p />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Εκθέσεις αναλυτικών στοιχείων αναθέσεων:
                <ul>
                    <li style="margin-bottom:10px">
                        Χαρακτηριστικό των εκθέσεων αυτών είναι ότι περιλαμβάνουν ονομαστικές λίστες εκπαιδευτικών με τις αντίστοιχες ώρες ή/και ωρομίσθια ποσά.
                    </li>
                    <li style="margin-bottom:10px">
                        Οι εκθέσεις αυτές είναι ομαδοποιημένες συνήθως ως προς την κάθε Περιφερειακή, σχολείο και είδος σύμβασης (ωρομίσθιοι, αναπληρωτές)
                    </li>
                    <li style="margin-bottom:10px">
                        Μαζί με τα αναλυτικά στοιχεία παρέχουν επίσης και συγκεντρωτικά ποσά ως προς τα πεδία ομαδοποίησης.
                    </li>
                    <li style="margin-bottom:10px">
                        Οι εκθέσεις αυτές είναι παραμετροποιημένες ως προς τα πεδία ομαδοποίησης, δηλαδή πρέπει να επιλεγούν τιμές των
                        παραμέτρων προκειμένου να εμφανιστούν τα δεδομένα.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:medium">
                        ΣΥγκεντρωτικά στοιχεία
                    </font>
                </span>
                <br />
            <p />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Εκθέσεις συγκεντρωτικών στοιχείων:
                <ul>
                    <li style="margin-bottom:10px">
                        Χαρακτηριστικό των εκθέσεων αυτών είναι ότι περιλαμβάνουν πλήθος εκπαιδευτικών ή αναθέσεων μαζί με σύνολα ωρών ή/και ωρομισθίων ποσών
                    </li>
                    <li style="margin-bottom:10px">
                        Οι εκθέσεις αυτές είναι ομαδοποιημένες συνήθως ως προς την κάθε Περιφερειακή, σχολείο, εκπαιδευτική δομή (ΕΠΑΣ,ΙΕΚ, ΣΕΚ-ΠΣΕΚ)
                        και είδος σύμβασης (ωρομίσθιοι, αναπληρωτές).
                    </li>
                    <li style="margin-bottom:10px">
                        Μαζί με τα μερικά σύνολα ανά ομάδα υπολογίζονται και γενικά σύνολα για κάθε σχολικό έτος.
                    </li>
                    <li style="margin-bottom:10px">
                        Οι εκθέσεις αυτές είναι παραμετροποιημένες ως προς τα πεδία ομαδοποίησης, δηλαδή πρέπει να επιλεγούν τιμές των
                        παραμέτρων προκειμένου να εμφανιστούν τα δεδομένα.
                    </li>
                </ul>
            </p>
            <p />
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 6 (Λειτουργίες πλεγμάτων)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Δυνατότητες προβολής δεδομένων στα πλέγματα
                    </font>
                </span>
                <br />
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                Όταν τα δεδομένα εμφανίζονται μέσα σε πλέγματα (πίνακες) έχουμε στη διάθεσή μας ορισμένες
                χρήσιμες δυνατότητες, οι οποίες είναι:
                <ol>
                    <li>
                        Ταξινόμηση
                    </li>
                    <li>
                        Ομαδοποίηση
                    </li>
                    <li>
                        Φίλτρα
                    </li>
                </ol>
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Σελίδες πλεγμάτων
                <ul>
                    <li>
                        Κάθε πλέγμα, ανάλογα με το πλήθος δεδομένων (γραμμών) είναι οργανωμένο σε σελίδες.
                    </li>
                    <li>
                        Οι αριθμοί σελίδων βρίσκονται στο κάτω μέρος του πλέγματος και με κλικ σε ένα αριθμό σελίδας γίνεται μετάβαση
                        στη σελίδα αυτή. Με αυτό τον τρόπο μπορούμε να "ξεφυλλίζουμε" το πλέγμα.
                    </li>
                    <li>
                        Εκτός αυτών υπάρχουν και τα κουμπιά μετάβασης στην πρώτη, τελευταία, επόμενη, προηγούμενη σελίδα.
                    </li>
                    <li>
                        Όταν οι γραμμές μιας σελίδας δεν χωράνε στο ύψος του πλέγματος εμφανίζεται δεξιά ράβδος κύλισης με την οποία μπορούμε
                        να δούμε όλα τα δεδομένα μιας σελίδας.
                    </li>
                </ul>
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Η ταξινόμηση αλλάζει κάνοντας κλικ επάνω στην κεφαλίδα μιας στήλης. Έχουμε τρία είδη
                ταξινομήσης:
                <ul>
                    <li>
                        Προεπιλεγμένη ταξινόμηση - αυτή που χρησιμοποιείται από την εφαρμογή. Δεν εμφανίζεται βελάκι στην κεφαλίδα.
                    </li>
                    <li>
                        Αύξουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα επάνω.
                    </li>
                    <li>
                        Φθίνουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα κάτω.
                    </li>
                </ul>
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Η ομαδοποίηση προβάλλει τα δεδομένα σε κατηγορίες που ορίζονται από τις κεφαλίδες των στηλών που
                θα επιλέξουμε. Σε πολλές περιπτώσεις είναι μια πολύ χρήσιμη λειτουργία με την οποία μπορεί κανείς να εξάγει άμεσα κάποιες πληροφορίες*.<br />
                Ο τρόπος λειτουργίας της ομαδοποίησης παρουσιάζεται με τρία τυπικά παραδείγματα:
                <ul>
                    <li>
                        Έστω το πλέγμα με τις αναθέσεις εκπαιδευτικών: Εάν ομαδοποιήσουμε με βάση τη στήλη 'Ειδικότητα' τότε
                        τα δεδομένα κατηγοριοποιούνται/ομαδοποιούνται σύμφωνα με τις τιμές της στήλης αυτής. Έτσι, μπορούμε
                        να έχουμε σε μια ομάδα όλους τους οικονομολόγους, σε άλλη αυτούς της πληροφορικής κ.λπ.
                    </li>
                    <li>
                        Έστω το πλέγμα με τα μητρώα αναθέσεων: Εάν ομαδοποιήσουμε με βάση τις στήλες 'Σχολικό έτος' και 'Ειδικότητα'
                        τότε τα δεδομένα ομαδοποιούνται πρώτα ανά Σχολ. έτος, και μετά ανά Ειδικότητα. Έτσι. δημιουργούμε ομάδες
                        δεδομένων μέσα σε άλλη ομάδα.
                    </li>
                    <li>
                        Τα πλέγματα, στα οποία έχει ορισθεί η δυνατότητα ομαδοποίησης εμφανίζουν επάνω από τα ονόματα στηλών μια γραμμή με το λεκτικό
                        "Σύρετε την κεφαλίδα στήλης εδώ, για ομαδοποίηση κατά τη στήλη αυτή". Για κάποιες στήλες πλεγμάτων δεν έχει νόημα η ομαδοποίηση,
                        οπότε αυτές δεν μπορούν να συρθούν στη γραμμή ομαδοποίησης.
                    </li>
                </ul>
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                Τα φίλτρα ως προς μια ή περισσότερες στήλες δίνουν τη δυνατότητα εμφάνισης μόνο των δεδομένων
                που ικανοποιούν τα κριτήρια που εισάγαμε.<br />
                Για να εισάγουμε ένα κριτήριο σε μια στήλη κάνουμε κλικ στο σύμβολο φίλτρου που υπάρχει σε κάθε
                κεφαλίδα στήλης. Στη συνέχεια ορίζουμε το φίλτρο καιπατάμε το κουμπί "Φίλτρο". Ενδεικτικά, αναφέρουμε τέσσερα παραδείγματα:
                <ol>
                    <li>
                        Έστω το πλέγμα Μητρώου αναθέσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Ονοματεπώνυμο' ως:<br />
                        'Αρχίζει από' + "Κ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ονοματεπώνυμο'
                        έχει τιμές όπου το πρώτο γράμμα είναι 'Κ' (προσοχή στο ελληνικό Κ και Λατινικό Κ - δεν είναι ίδια!)
                    </li>
                    <li>
                        Έστω το πλέγμα Μητρώου αναθέσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Ειδικότητα' ως:<br />
                        'Περιέχει' + "ΑΙΣΘΗΤ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ειδικότητα'
                        έχει τιμές που περιέχουν το λεκτικό αυτό. Το αποτέλεσμα είναι η προβολή μόνο των τεχνικών αισθητικής τέχνης.
                    </li>
                    <li>
                        Έστω το πλέγμα Μητρώου αναθέσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Ώρες/εβδ' ως:<br />
                        'Μεγαλύτερο ή ίσο με' και "18", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ώρες/εβδ'
                        έχει τιμές με ώρες/εβδ >= 18.
                    </li>
                    <li>
                        Έστω ένα πλέγμα με στήλη που περιλαμβάνει ημερομηνίες. Αν ορίσουμε το φίλτρο στη στήλη 'Ημερομηνία' ως:<br />
                        'Μετά από ή ίση με' + "01/01/2016" ΚΑΙ 'Πριν από' + "04/05/2016", εμφανίζονται
                        μόνο οι εγγραφές για τις οποίες η στήλη 'Ημερομηνία' έχει τιμές που ικανοποιούν το κριτήριο αυτό.
                        Το αποτέλεσμα είναι η προβολή μόνο των βεβαιώσεων προϋπηρεσιών μεταξύ των δύο ημερομηνιών που ορίσαμε.
                    </li>
                    <li>
                        Για να ακυρώσουμε ένα φίλτρο πατάμε πάλι το εικονίδιο φίλτρου στη στήλη που ορίσαμε φίλτρο και από το μενού
                        που ανοίγει πατάμε το κουμπί "Απαλοιφή".
                    </li>
                </ol>
            </p>
            <p /><br />
        </div>
            </text>);
        }).ExpandMode(PanelBarExpandMode.Multiple)
    </div>
</body>
