@{
    ViewBag.Title = "Αρχική Σχολείου";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<style>
    p.serif {
        font-family: "Times New Roman", Times, serif;
        font-size: medium;
    }

    p.sansserif {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: medium;
    }
</style>

<body>
    <div class="row" style="align-content:center;margin:20px 20px 20px 40px">

        @Html.Kendo().PanelBar().Name("infoPanel").Items(items =>
        {
            items.Add().Text("ΟΔΗΓΙΕΣ 1 (Αναθέσεις)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Καταχώρηση αναθέσεων εκπαιδευτικών (ωρομισθίων και αναπληρωτών)
                    </font>
                </span>
                <br />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Τρόπος εργασίας:
                <ul>
                    <li style="margin-bottom:10px">
                        Ο τρόπος εργασίας που θα περιγράψουμε είναι ίδιος για όλες τις αναθέσεις.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Αναθέσεις αρχικές:
                <ul>
                    <li style="margin-bottom:10px">
                        Στη σελίδα αυτή υπάρχει, στο άνω μέρος, η γραμμή σχολικού έτους και απο κάτω το πλέγμα ,με τις αρχικές αναθέσεις.
                    </li>
                    <li style="margin-bottom:10px">
                        Στη γραμμή σχολικού έτους επιλέγουμε από το πτυσσόμενο πλαίσιο λίστας το σχολικό έτος για το οποίο θα καταχωρήσουμε αναθέσεις.
                        Εάν υπάρχουν ήδη αναθέσεις, αυτές εμφανίζονται τότε στο πλέγμα.
                    </li>
                    <li style="margin-bottom:10px">
                        Στο κάτω πλέγμα πατάμε "Νέα Εγγραφή". Εμφανίζεται τότε μια κενή γραμμή πάνω από τις τυχόν υπάρχουσες γραμμές του πλέγματος.
                    </li>
                    <li style="margin-bottom:10px">
                        Επαναλαμβάνουμε τα παραπάνω βήματα για κάθε άλλη ειδικότητα που υλοποιεί το σχολείο.
                    </li>
                    <li style="margin-bottom:10px">
                        Συμπληρώνουμε με τιμές όλες τις εμφανιζόμενες στήλες (ΑΦΜ, Επώνυμο, Όνομα, Πατρώνυμο, Ειδικότητα, Ώρες/εβδ).
                    </li>
                    <li style="margin-bottom:10px">
                        Τέλος πατάμε το κουμπί "Ενημέρωση", που έμφανίζεται δεξιά της γραμμής του πλέγματος, για αποθήκευση των καταχωρημένων στοιχείων.
                    </li>
                    <li style="margin-bottom:10px">
                        Επαναλαμβάνουμε τα παραπάνω βήματα και για τους υπόλοιπους εκπαιδευτικούς.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Επεξεργασία, διαγραφή ανάθεσης:
                <ul>
                    <li style="margin-bottom:10px">
                        Εάν διαπιστώσουμε ότι έχουμε κάνει κάποιο λάθος στα δεδομένα μιας γραμμής, πατάμε το κουμπί "Επεξεργασία" στην αντίστοιχη γραμμή
                        του πλέγματος. Μπορούμε τότε, να αλλάξουμε τα δεδομένα στις στήλες. Αφού γίνουν οι αλλαγές πατάμε "Ενημέρωση" για αποθήκευση.
                    </li>
                    <li style="margin-bottom:10px">
                        Για να διαγράψουμε μόνιμα μια ανάθεση, αρκεί να πατήσουμε το κουμπί "Διαγραφή" στην αντίστοιχη γραμμή του πλέγματος.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                Υπόλοιπες αναθέσεις (απευθείας, συμπληρωματικές, τροποποιητικές, ακυρωτικές):
                <ul>
                    <li style="margin-bottom:10px">
                        Εργαζόμαστε με τον ίδιο ακριβώς τρόπο όπως στις Αρχικές αναθέσεις. Η μόνη διαφορά στις τροποποιητικές κα ακυρωτικές είναι στις
                        ώρες, όπου υπάρχουν δύο πεδία που πρέπει να συμπληρωθούν, τα "Ώρες από" και "Ώρες σε".    
                    </li>
                </ul>
            </p>
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 2 (Εκτυπώσεις)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Σελίδες εκτύπωσης
                    </font>
                </span>
                <br />
            <p />
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Περιγραφή:
                <ul>
                    <li style="margin-bottom:10px">
                        Στις σελίδες αναθέσεων υπάρχει στο άνω μέρος της σελίδας το κουμπί "Εκτύπωση" με το οποίο μπορούμε να 
                        αποθηκεύσουμε και να εκτυπώσουμε τη λίστα (πίνακα) αναθέσεων.
                    </li>
                    <li style="margin-bottom:10px">
                        Η λειτουργία αυτή είναι χρήσιμη για επισύναψη του πίνακα αναθέσεων στο έγγραφο του σχολείου προς τη Διεύθυνση Α2.
                    </li>
                    <li style="margin-bottom:10px">
                        Η σελίδα εκτύπωσης ανοίγει πάντα σε νέα καρτέλα του περιηγητή (Chrome, Firefox, κ.λπ) οπότε αφού γίνει η αποθήκευση
                        και εκτύπωση δεν πρέπει να ξεχάσουμε να κλείσουμε την καρτέλα αυτή του περιηγητή.
                    </li>
                </ul>
            </p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Δομή της σελίδας εκτύπωσης:
                <ul>
                    <li style="margin-bottom:10px">
                        Η σελίδα εκτύπωσης περιλαμβάνει τρεις περιοχές. Στο επάνω μέρος είναι η γραμμή εργαλείων, στο κέντρο είναι η περιοχή εμφάνισης της έκθεσης
                        και δεξιά είναι η περιοχή παραμέτρων της έκθεσης.
                    </li>
                    <li style="margin-bottom:10px">
                        Αρχικά η εκθεση εμφανίζεται κενή (χωρίς δεδομένα). Για προβληθούν τα δεδομένα πρέπει στην περιοχή παραμέτρων να επιλέξουμε ένα σχολικό έτος,
                        με κλικ επάνω στη λίστα που εμφανίζεται.
                    </li>
                    <li style="margin-bottom:10px">
                        Το επόμενο βήμα είναι να αποθηκεύσουμε την έκθεση. Στη γραμμή εργαλείων βρίσκεται ένα κουμπί με εικονίδιο νέφους. Όταν πατήσουμε το κουμπί αυτό
                        εμφανίζεται εάν μενού επιλογών εξαγωγής της έκθεσης σε μία ή περισσότερες μορφές αρχείων.
                    </li>
                    <li style="margin-bottom:10px">
                        Οι πλέον χρηστικές μορφές αρχείων είναι PDF, Excel, και Rich Text Format που σημαίνει μορφή αρχείου Word. Όταν πατήσουμε μια επιλογή το
                        αρχείο μεταφορτώνεται στον υπολογιστή μας, στο φάκελο "Downloads" ή "Οι λήψεις μου". 
                    </li>
                    <li style="margin-bottom:10px">
                        Για το έγγραφο προς την Α2 συνιστάται η μορφή αρχείου Rich Text Format. Το αρχείο αυτό το ανοίγουμε με το Word και τα περιεχόμενα
                        να τα αντιγράψουμε και να τα επικολλήσουμε στο έγγραφο ή απλά να επισυνάψουμε το αρχείο αυτό.
                    </li>
                </ul>
            </p>
            <p /><p />
        </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 3 (Λειτουργίες πλεγμάτων)")
            .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:large">
                        Δυνατότητες προβολής δεδομένων στα πλέγματα
                    </font>
                </span>
                <br />
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                Όταν τα δεδομένα εμφανίζονται μέσα σε πλέγματα (πίνακες) έχουμε στη διάθεσή μας ορισμένες
                χρήσιμες δυνατότητες, οι οποίες είναι:
                <ol>
                    <li>
                        Ταξινόμηση
                    </li>
                    <li>
                        Ομαδοποίηση
                    </li>
                    <li>
                        Φίλτρα
                    </li>
                </ol>
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                Σελίδες πλεγμάτων
                <ul>
                    <li>
                        Κάθε πλέγμα, ανάλογα με το πλήθος δεδομένων (γραμμών) είναι οργανωμένο σε σελίδες.
                    </li>
                    <li>
                        Οι αριθμοί σελίδων βρίσκονται στο κάτω μέρος του πλέγματος και με κλικ σε ένα αριθμό σελίδας γίνεται μετάβαση
                        στη σελίδα αυτή. Με αυτό τον τρόπο μπορούμε να "ξεφυλλίζουμε" το πλέγμα.
                    </li>
                    <li>
                        Εκτός αυτών υπάρχουν και τα κουμπιά μετάβασης στην πρώτη, τελευταία, επόμενη, προηγούμενη σελίδα.
                    </li>
                    <li>
                        Όταν οι γραμμές μιας σελίδας δεν χωράνε στο ύψος του πλέγματος εμφανίζεται δεξιά ράβδος κύλισης με την οποία μπορούμε 
                        να δούμε όλα τα δεδομένα μιας σελίδας.
                    </li>
                </ul>
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                Η ταξινόμηση αλλάζει κάνοντας κλικ επάνω στην κεφαλίδα μιας στήλης. Έχουμε τρία είδη
                ταξινομήσης:
                <ul>
                    <li>
                        Προεπιλεγμένη ταξινόμηση - αυτή που χρησιμοποιείται από την εφαρμογή. Δεν εμφανίζεται βελάκι στην κεφαλίδα.
                    </li>
                    <li>
                        Αύξουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα επάνω.
                    </li>
                    <li>
                        Φθίνουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα κάτω.
                    </li>
                </ul>
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                Η ομαδοποίηση προβάλλει τα δεδομένα σε κατηγορίες που ορίζονται από τις κεφαλίδες των στηλών που
                θα επιλέξουμε. Σε πολλές περιπτώσεις είναι μια πολύ χρήσιμη λειτουργία με την οποία μπορεί κανείς να εξάγει άμεσα κάποιες πληροφορίες*.<br />
                Ο τρόπος λειτουργίας της ομαδοποίησης παρουσιάζεται με τρία τυπικά παραδείγματα:
                <ul>
                    <li>
                        Έστω το πλέγμα με τις αναθέσεις εκπαιδευτικών: Εάν ομαδοποιήσουμε με βάση τη στήλη 'Ειδικότητα' τότε
                        τα δεδομένα κατηγοριοποιούνται/ομαδοποιούνται σύμφωνα με τις τιμές της στήλης αυτής. Έτσι, μπορούμε
                        να έχουμε σε μια ομάδα όλους τους οικονομολόγους, σε άλλη αυτούς της πληροφορικής κ.λπ.
                    </li>
                    <li>
                        Έστω το πλέγμα με τα μητρώα αναθέσεων: Εάν ομαδοποιήσουμε με βάση τις στήλες 'Σχολικό έτος' και 'Ειδικότητα'
                        τότε τα δεδομένα ομαδοποιούνται πρώτα ανά Σχολ. έτος, και μετά ανά Ειδικότητα. Έτσι. δημιουργούμε ομάδες
                        δεδομένων μέσα σε άλλη ομάδα.
                    </li>
                    <li>
                        Τα πλέγματα, στα οποία έχει ορισθεί η δυνατότητα ομαδοποίησης εμφανίζουν επάνω από τα ονόματα στηλών μια γραμμή με το λεκτικό
                        "Σύρετε την κεφαλίδα στήλης εδώ, για ομαδοποίηση κατά τη στήλη αυτή". Για κάποιες στήλες πλεγμάτων δεν έχει νόημα η ομαδοποίηση,
                        οπότε αυτές δεν μπορούν να συρθούν στη γραμμή ομαδοποίησης.
                    </li>
                </ul>
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                Τα φίλτρα ως προς μια ή περισσότερες στήλες δίνουν τη δυνατότητα εμφάνισης μόνο των δεδομένων
                που ικανοποιούν τα κριτήρια που εισάγαμε.<br />
                Για να εισάγουμε ένα κριτήριο σε μια στήλη κάνουμε κλικ στο σύμβολο φίλτρου που υπάρχει σε κάθε
                κεφαλίδα στήλης. Στη συνέχεια ορίζουμε το φίλτρο καιπατάμε το κουμπί "Φίλτρο". Ενδεικτικά, αναφέρουμε τέσσερα παραδείγματα:
                <ol>
                    <li>
                        Έστω το πλέγμα Μητρώου αναθέσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Ονοματεπώνυμο' ως:<br />
                        'Αρχίζει από' + "Κ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ονοματεπώνυμο'
                        έχει τιμές όπου το πρώτο γράμμα είναι 'Κ' (προσοχή στο ελληνικό Κ και Λατινικό Κ - δεν είναι ίδια!)
                    </li>
                    <li>
                        Έστω το πλέγμα Μητρώου αναθέσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Ειδικότητα' ως:<br />
                        'Περιέχει' + "ΑΙΣΘΗΤ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ειδικότητα'
                        έχει τιμές που περιέχουν το λεκτικό αυτό. Το αποτέλεσμα είναι η προβολή μόνο των τεχνικών αισθητικής τέχνης.
                    </li>
                    <li>
                        Έστω το πλέγμα Μητρώου αναθέσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Ώρες/εβδ' ως:<br />
                        'Μεγαλύτερο ή ίσο με' και "18", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ώρες/εβδ'
                        έχει τιμές με ώρες/εβδ >= 18.
                    </li>
                    <li>
                        Έστω ένα πλέγμα με στήλη που περιλαμβάνει ημερομηνίες. Αν ορίσουμε το φίλτρο στη στήλη 'Ημερομηνία' ως:<br />
                        'Μετά από ή ίση με' + "01/01/2016" ΚΑΙ 'Πριν από' + "04/05/2016", εμφανίζονται
                        μόνο οι εγγραφές για τις οποίες η στήλη 'Ημερομηνία' έχει τιμές που ικανοποιούν το κριτήριο αυτό.
                        Το αποτέλεσμα είναι η προβολή μόνο των βεβαιώσεων προϋπηρεσιών μεταξύ των δύο ημερομηνιών που ορίσαμε.
                    </li>
                    <li>
                        Για να ακυρώσουμε ένα φίλτρο πατάμε πάλι το εικονίδιο φίλτρου στη στήλη που ορίσαμε φίλτρο και από το μενού
                        που ανοίγει πατάμε το κουμπί "Απαλοιφή".
                    </li>
                </ol>
            </p>
            <p /><br />
</div>
            </text>);
        }).ExpandMode(PanelBarExpandMode.Multiple)
    </div>
</body>
